<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/Bhero.png"
      class="max-w-sm"
    />
    <div>
      <h1 class="text-6xl font-bold">Tu Tecnología Tiene una <span class="text-primary">Segunda Vida</span>.</h1>
      <p class="py-6">
      Cada año, millones de toneladas de dispositivos electrónicos terminan en vertederos, dañando nuestro planeta. Pero hay una mejor manera. En Pilinesias, te mostramos cómo transformar la basura electrónica en una oportunidad para un futuro más limpio y sustentable. Descubre soluciones prácticas para reciclar, reutilizar y reducir tu huella digital. ¡Es hora de actuar!
      </p>
      
    </div>
  </div>
</div>


<style>
  @media (max-width: 1024px) {
    .hero-content img {
      display: none;
    }
}
</style>
