<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="/desarrolloS.png"
      class="max-w-sm"
    />
    <div>
      <h1 class="text-5xl font-bold">Definición de<br><span class="text-primary">Desarrollo Sustentable</span>.</h1>
      <p class="py-6">
        El desarrollo sustentable (o sostenible) es un concepto clave que busca satisfacer las necesidades de las generaciones presentes sin comprometer la capacidad de las futuras generaciones para satisfacer sus propias necesidades.
      </p>
    </div>
  </div>
</div>