<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="/GProblema.png"
      class="max-w-sm"
    />
    <div>
      <h1 class="text-5xl font-bold">Gestionar la<br><span class="text-primary">Basura Electronica</span>.</h1>
      <p class="py-6">
        La gestión de la basura electrónica implica un enfoque multifacético para minimizar su impacto ambiental y aprovechar sus recursos. En lugar de desechar tus dispositivos electrónicos viejos, es crucial reducir el consumo innecesario, reutilizar los aparatos extendiendo su vida útil (a través de la reparación, donación o venta), y reciclar adecuadamente aquellos que ya no funcionan, llevándolos a puntos de recolección especializados o centros de reciclaje autorizados. Estas acciones conjuntas son esenciales para evitar la liberación de sustancias tóxicas, recuperar materiales valiosos y contribuir a un desarrollo más sustentable.
      </p>
    </div>
  </div>
</div>