<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/HaHero.png"
      class="max-w-sm"
    />
    <div>
      <h1 class="text-6xl font-bold">Visualiza nuestro <span class="text-primary">Progreso</span>.</h1>
      <p class="py-6">
   En esta página podras ver graficas de los Habit Trackers de nuestros miembros del Equipo, la grafica consta de 10 habitos para ser una persona sustentable.
      </p>
      
    </div>
  </div>
</div>


<style>
  @media (max-width: 1024px) {
    .hero-content img {
      display: none;
    }
}
</style>
