<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/favicon.png"
      class="max-w-sm"
    />
    <div>
      <h1 class="text-6xl font-bold">Descubre un futuro <br><span class="text-primary">Sustentable</span>.</h1>
      <p class="py-6">
       ¿Sabías que cada año generamos millones de toneladas de basura electrónica (e-waste), contaminando nuestro planeta y agotando recursos valiosos?
      </p>
      <a href="/basura-electronica" class="btn btn-primary"><i class="fa-solid fa-share"></i> Saber más</a>
    </div>
  </div>
</div>


<style>
  @media (max-width: 1024px) {
    .hero-content img {
      display: none;
    }
}
</style>
