<div class="hero bg-base-300 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="/kahoot.png"
      class="max-w-sm"
      style="border-radius: 20px;"
    />
    <div>
      <h1 class="text-6xl font-bold">¡Llego la hora de <span class="text-primary">Jugar</span>!</h1>
      <p class="py-6">
        Sumérgete en nuestro Kahoot interactivo y descubre datos sorprendentes, desmiente mitos y conviértete en un experto en desarrollo sustentable. ¡Aprender nunca fue tan divertido ni tan importante para el planeta!
      </p>
      <a href="#jugar" class="btn btn-primary"><i class="fa-solid fa-gamepad"></i> Jugar</a>
    </div>
  </div>
</div>


<style>
  @media (max-width: 1024px) {
    .hero-content img {
      display: none;
    }
}
</style>
