<div class="bg-base-200 py-14 ">
    <h1 class="font-bold text-5xl text-center">Nuestros <span class="text-primary">Objetivos</span></h1>

    <div class="p-10 flex justify-center">
        <div class="w-full card bg-base-300 w-96 shadow-md">
            <div class="card-body">
                <div class="flex items-center mb-4">
                    <div class="avatar">
                        <div class="w-12 h-12 rounded-full mr-4">
                            <img src="/melissa.jpg" alt="Author Profile Picture" />
                        </div>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold">Melissa</h3>
                        <p class="text-sm text-gray-500">11/06/2025</p>
                    </div>
                </div>
                <h2 class="card-title text-2xl mb-2">¿Cuál es la razón de nuestro sitio web?</h2>
                 <p>En este sitio web, te invitamos a explorar a fondo el desafío global de la <strong>basura electrónica</strong> y su impacto en el desarrollo sustentable. Queremos darte el conocimiento y las herramientas para ser parte de la solución.</p>

        <p>Aquí encontrarás:</p>
        <ul>
            <li>- Un <strong>formulario interactivo</strong> para que compartas tus ideas y comentarios, ayudándonos a construir una comunidad más informada y comprometida.</li>
            <li>- Un <strong>Kahoot divertido y educativo</strong> que te permitirá aprender sobre la basura electrónica de una manera dinámica y poner a prueba tus conocimientos.</li>
            <li>- Una <strong>investigación completa y accesible</strong> sobre la basura electrónica, donde descubrirás qué es, por qué es un problema y cómo podemos gestionarla de forma responsable.</li>
        </ul>

        <p>Nuestro propósito es claro: fomentar la conciencia y la acción. Creemos que, con la información correcta y las herramientas adecuadas, podemos juntos transformar este desafío en una oportunidad para un futuro más verde y sostenible. ¡Únete a nosotros en este importante viaje!</p>
            </div>
        </div>
    </div>
</div>