 ---
const { slide, slideNext, slideA, img } = Astro.props;
 ---
 
 <div id={slide} class="carousel-item relative w-full">
      <img
        src={img}
        class="w-full min-h-screen object-cover"
        style="height: 400px;"
      />
      <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
        <a href={slideA} class="btn btn-circle btn-primary">❮</a>
        <a href={slideNext} class="btn btn-circle btn-primary">❯</a>
      </div>
    </div>